{% extends 'agenciaP/base.html' %}
{% block content %}
  <a href="/redireccion/" class="btn btn-default"><span class="glyphicon glyphicon-home">HOME</span></a>
<h2 style="color:white">Desocupados</h2>
<h2 style="color:white"><em>Persona - DNI</em></h2>
<ul>
    {% for perfil in object_list %}
      <h2 style="color:white"><li>{{ perfil.nombre }} {{ perfil.apellido }} - {{ perfil.dni }} 
	<a href="#" class="btn btn-warning">editar</button> </a>
	<a href="#" class="btn btn-danger">eliminar</button> </a>
</li></h2>

    {% endfor %}
  </ul>
<a href="/logout" class="btn btn-default"><span class="glyphicon glyphicon-log-out"> Salir</span></a>
{% endblock %}
