{% extends 'agenciaP/base.html' %}
{% block title %} Crear cosas {% endblock %}
{% block content %}

<a href="/registrartrabajo" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus-sign"><b>  Agregar Oferta</span></a>
<a href="/desocupados" class="btn btn-info" role="button"><span class="glyphicon glyphicon-user"><b>  Ver Desocupados</span></a>
<a href="/trabajos" class="btn btn-info" role="button"><span class="glyphicon glyphicon-folder-open"><b> 	Ver Ofertas</span></a>
<br>
<br>
<a href="/logout" class="btn btn-default"><span class="glyphicon glyphicon-log-out"> Salir</span></a>
{% endblock %}
