{% extends 'agenciaP/base.html' %}
{% block content %}
<div align="rigth">
		<h3><b><a class="btn btn-default" href="/redireccion/"><span class="glyphicon glyphicon-home"> HOME</span></a></b></h3>	
</div>
<h2 style="color:white">Laburos</h2>
<h2 style="color:white"><em>Persona - DNI</em></h2>

<ul>
    {% for trabajo in object_list %}
      <h2 style="color:white"><li>{{ trabajo.cargo }} {{ trabajo.descripcion }} - {{ trabajo.horario }} 
	<a href="#" class="btn btn-warning">editar</button> </a>
	<a href="#" class="btn btn-danger">eliminar</button> </a></li></h2>

    {% endfor %}
  </ul>
  <a href="/logout" class="btn btn-default">Salir</a>
{% endblock %}
