{% extends 'base.html' %}

{% block content %}
  <h2><p>Bienvenido, {{ user.get_full_name() }} !</p></h2>
  <p>Sos un: {{ user.profile_type() }}</p>
  <p>Algunos datos relevantes son:</p>
  {% if user.is_empresa() %}
    <p>CUIT: {{ user.profile().cuit }}</p>
  {% endif %}
  {% if user.is_desocupado() %}
    <p>DNI: {{ user.profile().dni }}</p>
    <a class="btn btn-info" href="{{ url('trabajos') }}">Ver Ofertas</a>
  {% endif %}
	
  {% if user.is_empresa() %}
  <a class="btn btn-success" href="{{ url('registrar.trabajo') }}">Registrar Trabajo</a>
  <a class="btn btn-info" href="{{ url('me.ofertas') }}">Mis Ofertas</a>
  {% endif %}

{% endblock %}
