{% extends 'base.html' %}

{% block content %}
  <h2 style="color: white">Iniciar Sesion</h2>
  {% if form.errors %}
    <p style="color: red">El nombre de usuario y contraseña no coinciden. Reintentar.</p>
  {% endif %}
  <form method="post">
    {{ csrf_input }}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p style="color:white">
        {{ field.label_tag() }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button class="btn-success btn-lg" type="submit">Log in</button>
    <a class="btn-info btn-lg" href="{{ url('registrar.desocupado') }}">Registrarme como Desocupado</a>
    <a class="btn-info btn-lg" href="{{ url('registrar.empresa') }}">Registrar mi Empresa</a>
  </form>
{% endblock %}
